body {
    display: flex;
    height: 100vh;
    /*min-height: 35rem;*/
    align-items: center;
    justify-content: center;
    font-family: josefin sans, sans-serif;
    background: linear-gradient(to right, #1D0D16, #ee9ca7, #6638F0, #5BBA38);
    background-size: 500% 500%;
    transition: background 3s ease;
    background-position: 50% 50%;

}

/**
 * card 加载的动态效果
 */
.card {
    /*position: absolute;*/
    transition: all .3s .1s ease-out
}


.card title {
    font-weight: 700;
    font-size: 1.8rem;
}

.card:not(.is-show) {
    display: none;
}


.card-welcome .card-title {
    color: #823FCE;
}



@media (min-width: 767px) {
    .card-temp {
        max-width: 520px;
        margin: 0 auto;
    }
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}


.card-body p {
    font-size: 1.1rem
}

.badge-wrap {
    display: flex;
    justify-content: center;

}

.badge-wrap a.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 auto;
    padding: 0;
    opacity: .7;
    border-radius: 50%;
    transition: opacity .3s ease-in;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.fa-wrap {
    display: flex;
    justify-content: center;
}

.fa-wrap .fa-div{
    margin: 10px 10px;
}


.fa-wrap a.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.7rem;
    height: 2.7rem;
    margin: 0px auto;
    padding: 0;
    opacity: .7;
    border-radius:50%;
    transition: opacity .3s ease-in;
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}


.weclome-item>button {
    display: block;
}

.card-welcome .btn-wrap {
    display: flex;
    flex-direction: column;
}

.card-welcome .btn:hover {
    background-color: rgba(120, 86, 167, .25);
    font-weight: 700
}

.card-welcome .btn-register {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: #0b1161;
}

.card-welcome .btn-login {
    background-color: #6bc248;
}




.card .btn {
    color: #fff !important;
    width: 10em;
    transition: all .4s;
    border-radius: 20px;
    border: 2px solid transparent
}


.btn.btn-back {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0px;
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    border: 0;
}

.card-upload .card-body p {
    color: red;
}

.btn-back:hover{
    cursor: pointer;
}

body.is-register {
    background-position: 0% 50%
}

body.is-login {
    background-position: 100% 50%
}

@media (min-width: 569px)
{
   	#btnSendCode {
        position: absolute;
        height: 35px;
        width: 90px;
        /*border-radius:50%;*/
        border-radius:0%;
        line-height: 35px;
        display: inline-block;
        margin-left: 5px;
        border-color: #0A074E;
        cursor: pointer;
    }
    #btnSendCode>input{
    	border-radius:0%;
    	height: 35px;
    	line-height:2px;
    	width: 90px;
    	text-align: center;
    	padding-left:4%;
    }
    
    #btnLoginSendCode {
        position: absolute;
        height: 35px;
        width: 90px;
        /*border-radius:50%;*/
        border-radius:0%;
        line-height: 35px;
        display: inline-block;
        margin-left: 5px;
        border-color: #0A074E;
        cursor: pointer;
    }
    #btnLoginSendCode>input{
    	border-radius:0%;
    	height: 35px;
    	line-height:2px;
    	width: 90px;
    	text-align: center;
    	padding-left:4%;
    }
}

@media (max-width: 569px){
    .card-register .form-group .form-control{
        width: 80%;
    }

    #btnSendCode{
        position: absolute;
        left: 70%;
        height: 35px;
        width: 85px;
        display: inline-block;
        border-color: #0A074E;
        cursor: pointer;
    }
    
    #btnSendCode>input{
    	border-radius:0%;
    	height: 35px;
    	line-height:2px;
    	width: 85px;
    	text-align: center;
    	padding-left:4%;
    }
    #btnLoginSendCode{
        position: absolute;
        left: 70%;
        height: 35px;
        width: 85px;
        display: inline-block;
        border-color: #0A074E;
        cursor: pointer;
    }
    
    #btnLoginSendCode>input{
    	border-radius:0%;
    	height: 35px;
    	line-height:2px;
    	width: 85px;
    	text-align: center;
    	padding-left:4%;
    }
}




.card-register .card-title {
    color: #0A074E;
}

.card-register .badge {
    background-color: #0A074E;
}

.card-register .btn {
    background-color: #0A074E;
}

.card-register .btn:hover {
    background-color: #fff;
    color: #0A074E !important;
    font-weight: 700;
    border: 2px solid rgba(10, 7, 78, .25)
}

.card-register .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(10, 7, 78, .25)
}

.card-register .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(10, 7, 78, .25)
}

.card-register .form-control {
    color: #0A074E;
    border-color: rgba(10, 7, 78, .25)
}

.card-register .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(10, 7, 78, .25)
}

.card-login .card-title {
    color: #5BBA38;
}

#shortURL{
    position: absolute;
    right: 2%;
    bottom: 0;
    text-decoration: none;
}
#shortURL a{
    text-decoration: none;
}
#codeBack{
    background-color: #F6F6F6;
}

.card-login .badge {
    background-color: #5BBA38;
}

.card-login .btn {
    background-color: #5BBA38;
}

.card-login .btn:hover {
    background-color: #fff;
    color: #5BBA38 !important;
    font-weight: 700;
    border: 2px solid rgba(91, 186, 56, .25)
}

.card-login .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 186, 56, .25)
}

.card-login .btn:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 186, 56, .25)
}

.card-login .form-control {
    color: #5BBA38;
    border-color: rgba(91, 186, 56, .25)
}

.card-login .form-control:focus {
    box-shadow: 0 0 0 .2rem rgba(91, 186, 56, .25)
}

.card-register .card-title {
    margin-bottom: 35px;
    font-weight: 30;
}



.card-login .card-title {
    margin-bottom: 35px;
    font-weight: 30;
}
